/* body */
body{
    margin: 0 auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
}

/* headers */
h1, h2{
    text-align: center;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
}

/* canvas */

.canvas-container{
    margin: 0 auto;
    text-align: center;
}

.canvas-container p{
    font-size: 14px;
}

canvas{
    border-radius: 10px 10px 0px 0px;
}

/* legend */
ul > li{
    display: inline-block;
    font-size: 24px;
    margin-top: 0px;
    margin-right: 5%;
}

#red{
    color: red;
}

#green{
    color: green;
}

#blue{
    color: blue;
}

/* ui */
.lil-gui.root{
    margin-left: 25%;
    width: 50%;
    border-radius: 10px;
}

.lil-gui .name{
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

#lil-gui-name-1{
    color: red;
}

#lil-gui-name-2{
    color: blue;
}

#lil-gui-name-3{
    color: green;
}

#lil-gui-name-5{
    color: orange;
}

#lil-gui-name-6{
    color: pink;
}

#lil-gui-name-7{
    color: aqua;
}