body{
    width: 40%;
    color:white;
    margin-left: 5%;
    text-shadow: 0.5px 0.5px 1px #ffffff;
}

h1{
    color:white;
    font-size: 48px;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px #ffffff;
}

h2{
    font-size: 36px;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px #ffffff;
}

p{
    font-size: 28px;
    margin-bottom: 24px;
}

.clickable{
    color:aqua;
    cursor: grab;
}

.clickable:hover{
    color:hotpink;

}

.hidden{
    display: none;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}