body{
    margin: 0 auto;
}

h1{
    color: black;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.lil-gui .name{
    font-size: 14px;
    font-weight: bold;
}

#lil-gui-name-5, #lil-gui-name-1{
    color: red;
}

#lil-gui-name-6, #lil-gui-name-2{
    color: blue;
}

#lil-gui-name-7, #lil-gui-name-3{
    color: green;
}